.addrecipeform {
  margin-left: 5%;
}

.addrecipelegend {
  font-size: 28px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.addrecipelabels {
  font-size: 12px;
  color: lightgray;
}

.addrecipename,
.addrecipeingredients,
.addrecipeinstructions,
.addrecipeimage { 
  border: none;
  border-bottom: 1px solid black;
  width: 90%;
}

.addrecipename:focus,
.addrecipeingredients:focus,
.addrecipeinstructions:focus,
.addrecipeimage:focus {
  outline: none;
  border-bottom: 2px solid green;  
}

  .addrecipename,
  .addrecipeimage {
    height: 30px;
  }

.addrecipeingredients,
.addrecipeinstructions {
  height: 200px;
}